body{
    background-image: url(../assets/images/background03.jpg);
    background-size: cover;
  background-repeat: no-repeat;
  
}

.jumbotron {
    text-align: center;
    color: white;
    background-image: url(../assets/images/jumbotron-background-cropped.png);
    width: 85%;
    padding-bottom: 20%;
    margin: 2% auto 2.5% auto;
}

.title-text {
    background-color: rgba(1, 180, 96, 0.5);
    margin: -5% 15% 30% 15%;
}

#engines {
    text-align: center;
}

.map-card{
    max-width: 100%;
   
}


form {
    color: white;

    width: 100%;
}

.form-group {
    margin-bottom: 10%;
    font-size: 160%;
    text-align: center;

    width: 100%;
}

.submit-btn {
    margin-top: 0%;
    margin-left: 40%;
}



.img-credit {
    font-size: 50%;
}

.text-muted {
    padding: 0;
    font-size: 60%;
}